Checks: >
  *,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -altera-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -llvm-header-guard,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -modernize-use-trailing-return-type,
  -performance-no-int-to-ptr,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
