# Copyright 2020-2025 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -*-else-after-return,
  -bugprone-suspicious-include,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
InheritParentConfig: true
