# Copyright 2020-2024 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

---
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AttributeMacros:
  - LV2_DEPRECATED
  - LV2_SYMBOL_EXPORT
BasedOnStyle: Mozilla
BraceWrapping:
  AfterClass: true
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakBeforeBraces: Custom
Cpp11BracedListStyle: true
ForEachMacros:
  - LV2_ATOM_OBJECT_BODY_FOREACH
  - LV2_ATOM_OBJECT_FOREACH
  - LV2_ATOM_SEQUENCE_BODY_FOREACH
  - LV2_ATOM_SEQUENCE_FOREACH
  - LV2_ATOM_TUPLE_BODY_FOREACH
  - LV2_ATOM_TUPLE_FOREACH
IndentCaseLabels: false
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
SpacesInContainerLiterals: false
StatementMacros:
  - LV2_DISABLE_DEPRECATION_WARNINGS
  - LV2_RESTORE_WARNINGS
  - _Pragma
...
