Checks: >
  *,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -bugprone-macro-parentheses,
  -clang-diagnostic-empty-translation-unit,
  -clang-diagnostic-unused-function,
  -clang-diagnostic-unused-macros,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
