# Copyright 2020-2025 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -*-narrowing-conversions,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-suspicious-realloc-usage,
  -cert-err33-c,
  -clang-analyzer-core.NullDereference,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -misc-unused-parameters,
  -readability-function-cognitive-complexity,
InheritParentConfig: true
