# Copyright 2020-2024 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  *,
  -*-macro-to-enum,
  -*-magic-numbers,
  -altera-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -llvmlibc-restrict-system-libc-headers,
  -performance-no-int-to-ptr,
  -readability-identifier-length,
CheckOptions:
  - key: hicpp-uppercase-literal-suffix.NewSuffixes
    value: L;U;f
  - key: readability-uppercase-literal-suffix.NewSuffixes
    value: L;U;f
FormatStyle: file
HeaderFilterRegex: 'lv2/.*\.h'
WarningsAsErrors: '*'
